{{!-- https://codepen.io/mamislimen/pen/jOwwLvy :- Template Link --}}
<!DOCTYPE html>
<html>

<head>
    <title>Admin Add Student</title>
    <link rel="shortcut icon" href="https://img.icons8.com/avantgarde/512/planner.png" type="image/x-icon"
        sizes="120x120">
    <link rel="stylesheet" type="text/css" href="reg_form.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true" />

        <div class="signup">
            <form action="/adminaddstudent">
                <label for="chk" aria-hidden="true">Register Here</label>
                <input type="text" name="full_name" placeholder="Full name" required="" autocomplete="none"
                    style="text-transform: capitalize;" />
                <input type="email" name="email" placeholder="Email" required="" />
                <input type="number" name="phone_number" placeholder="Phone Number" required="" autocomplete="none" />

                <p>
                    <select name="event_name" id="Event Name">
                        <option value="">Select Event Name</option>
                        <option value="Valowarz">Valowarz</option>
                        <option value="Design-O-Code">Design-O-Code</option>
                        <option value="Craken">Craken</option>
                    </select>
                </p>

                <input type="name" name="clg_name" placeholder="College Name" required="" autocomplete="none"
                    style="text-transform: capitalize;" />

                <button>Register</button>
                {{#if mesg}}
                <h3>Inserted Sussessfully..!</h3>
                {{/if}}
                {{#if mesg1}}
                <h3>Data Already Exist..!</h3>
                {{/if}}
            </form>

        </div>

    </div>
    <div class="back">
        <h3><a href="/adminindex">&#60;-- Go Back</a></h3>
    </div>
</body>

</html>