<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminstyle.css">
    <title>Event Management System</title>
    <link rel="shortcut icon" href="https://img.icons8.com/avantgarde/512/planner.png" type="image/x-icon"
        sizes="120x120">
</head>

<body>
    <div class="navbar">
        <a href="/add">ADD STUDENT</a>
        <a href="/search">SEARCH EVENT PARTICIPENTS</a>
        <a href="/update">UPDATE STUDENT</a>
        <a href="/delete">DELETE STUDENT</a>
        <a href="/view">VIEW ALL PARTICIPENTS</a>
        <a href="./">BACK TO MAIN</a>
    </div>
</body>

</html>