<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicons -->
  <title>Event Management System</title>
  <link rel="shortcut icon" href="https://img.icons8.com/avantgarde/512/planner.png" type="image/x-icon"
    sizes="120x120">
  <link href="apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet" />

  <!-- Bootstrap CSS File -->
  <link href="bootstrap.min.css" rel="stylesheet" />

  <!-- Libraries CSS Files -->
  <link href="font-awesome.min.css" rel="stylesheet" />
  <link href="animate.min.css" rel="stylesheet" />
  <link href="venobox.css" rel="stylesheet" />
  <link href="owl.carousel.min.css" rel="stylesheet" />

  <!-- Main Stylesheet File -->
  <link href="style.css" rel="stylesheet" />


</head>

<body>
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1>
          <span>INFINITY</span>
        </h1>
        <!-- <a href="#intro" class="scrollto"
            ><img src="img/logo.png" alt="" title=""
          /></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#supporters">Sponsors</a></li>
          <li class="buy-tickets"><a href="#buy-tickets">Register</a></li>
          <li class="buy-tickets"><a href="/adminindex">ADMIN</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">
        <span>St. Vincent Pallotti </span><br />College of Engineering and<br />
        Technology
      </h1>
      <p class="mb-4 pb-0">18-19 December, Computer Engineering Department</p>
    </div>
  </section>

  <main id="main">
    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>
              Infinity 2k22, Technofun event of Computer Engineering
              Department, St. Vincent Pallotti College of Engineering and
              Technology, Nagpur, in collaboration with CSI (Computer Society
              of India) and ACM (Association for Computing Machinery).
            </p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Computer Engineering Department</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Monday | Tuesday<br />18-19 December</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>Here are some of our speakers</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="1.jpg" alt="Speaker 1" class="img-fluid" />
              <div class="details">
                <h3>Brenden Legros</h3>
                <p>Quas alias incidunt</p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="3.jpg" alt="Speaker 3" class="img-fluid" />
              <div class="details">
                <h3>Cole Emmerich</h3>
                <p>Fugiat laborum et</p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="5.jpg" alt="Speaker 5" class="img-fluid" />
              <div class="details">
                <h3>Alejandrin Littel</h3>
                <p>Qui molestiae natus</p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Here is our event schedule</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
          </li>
        </ul>

        {{!-- <h3 class="sub-heading">
          Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet
          officia. Eius necessitatibus voluptatem quis labore perspiciatis
          quia.
        </h3> --}}

        <div class="tab-content row justify-content-center">
          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
            <div class="row schedule-item">
              <div class="col-md-2"><time>09:30 AM</time></div>
              <div class="col-md-10">
                <h4>Inaugration</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="1.jpg" alt="Brenden Legros" />
                </div>
                <h4>Keynote <span>Brenden Legros</span></h4>
                <p>Facere provident incidunt quos voluptas.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                <h4>Valowarz Round-1 Begins</h4>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>01:00 PM</time></div>
              <div class="col-md-10">
                <h4>Craken Round-1 Begins</h4>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00 PM</time></div>
              <div class="col-md-10">
                <h4>Design-O-Code Round-1 Begins</h4>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>03:00 PM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="5.jpg" alt="Alejandrin Littel" />
                </div>
                <h4>
                  Quos ratione neque expedita asperiores.
                  <span>Alejandrin Littel</span>
                </h4>
                <p>
                  Eligendi quo eveniet est nobis et ad temporibus odio quo.
                </p>
              </div>
            </div>


          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade" id="day-2">
            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                <h4>Valowarz Final-Round Begins</h4>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:00 PM</time></div>
              <div class="col-md-10">
                <h4>Craken Final-Round Begins</h4>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00 PM</time></div>
              <div class="col-md-10">
                <h4>Design-O-Code Final-Round Begins</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>03:00 PM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="6.jpg" alt="Jack Christiansen" />
                </div>
                <h4>
                  Keynote
                  <span>Jack Christiansen</span>
                </h4>
                <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>04:00 PM</time></div>
              <div class="col-md-10">
                <h4>Valedictory</h4>
              </div>
            </div>



            <!-- End Schdule Day 2 -->

            <!-- Schdule Day 3 -->

            <!-- End Schdule Day 2 -->
          </div>
        </div>
    </section>

    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event location</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 venue-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14897.931709338221!2d79.05319505!3d21.0133544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bdc6b03bfded%3A0x51964eb66fa3ec5e!2sSt.%20Vincent%20Pallotti%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1669528138504!5m2!1sen!2sin"
              width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8">
                <h3>
                  St. Vincent Pallotti College of Engineering and Technology ,
                  Nagpur
                </h3>
                <p>
                  St. Vincent Pallotti College of Engineering and Technology
                  was established in 2004 by the Nagpur Pallottine Society.
                  The College is accredited by NAAC with A grade. The College
                  is affiliated to Nagpur University approved by Director of
                  Technical Education, Mumbai and AICTE, Government of India.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="1.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="2.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="3.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="4.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="5.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="6.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="7.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="8.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Regiater Section
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Register Here</h2>

        </div>

        <section id="contact" class="section-bg wow fadeInUp">

          <div class="form">

            <form action="/studentregitration" method="get">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="full_name" class="form-control" id="full_no" placeholder="Your Name"
                    required="" />
                </div>

                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    required="" />
                </div>

                <div class="form-group col-md-6">
                  <input type="tel" class="form-control" name="phone_no" id="phone_no" placeholder="Mobile Number"
                    pattern="[0-9]{10}" required="" />
                </div>

                <div class="form-group col-md-6">
                  <input type="text" name="clg_name" class="form-control" id="clg_name" placeholder="College Name"
                    required="" />
                </div>

                <div class="form-group col-md-6">
                  <select name="event_name" id="event_name" class="form-control" required="">
                    <option value="">Select Event Name</option>
                    <option value="Valowarz">Valowarz</option>
                    <option value="Design-O-Code">Design-O-Code</option>
                    <option value="Craken">Craken</option>
                  </select>
                </div>
                <div class="form-group col-md-6"> </div>
                <div class="text-center">
                  <button type="submit">Register</button>
                </div>

            </form>

          </div>
      </div>
    </section>
    </div>
    <!-- /.modal -->
    </section>
    <!-- #contact -->
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-info">
            <h1>
              <a href="#main"><span>INFINITY</span></a>
            </h1>
            <p>
              Infinity 2k22, Technofun event of Computer Engineering Department, St. Vincent Pallotti College of
              Engineering and Technology, Nagpur, in collaboration with CSI (Computer Society of India) and ACM
              (Association for Computing Machinery).
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links"></div>
          <div class="col-lg-3 col-md-6 footer-links"></div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Tushar Magare (Co-Ordinator)<br />
              <strong>Phone:</strong> +91 88062 55555<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
            <p>
              Om Patle (Co-Ordinator)<br />
              <strong>Phone:</strong> +91 88062 88888<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <nobr><span style="color: red;">Tech Pallotines</span></nobr>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"> &#11165;</a>

  <!-- JavaScript Libraries -->
  <script src="jquery.min.js"></script>
  <script src="jquery-migrate.min.js"></script>
  <script src="bootstrap.bundle.min.js"></script>
  <script src="easing.min.js"></script>
  <script src="hoverIntent.js"></script>
  <script src="superfish.min.js"></script>
  <script src="wow.min.js"></script>
  <script src="venobox.min.js"></script>
  <script src="owl.carousel.min.js"></script>




  <!-- Template Main Javascript File -->
  <script src="main.js"></script>
</body>

</html>