* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  background-color: black;
}

.navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 30px auto;
}

.navbar a {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  color: burlywood;
  margin: 0px 10px 0px 10px;
  border: 2px solid black;
}

.navbar a:hover {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  color: red;
  margin: 0px 10px 0px 10px;
  border: 2px solid black;
}

/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@100;400&family=Permanent+Marker&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.navbar {
  background-color: black;
  padding: 14px;
  text-align: center;
  margin: 10 auto;
}

ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding: 3px 13px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.navbar li a {
  text-decoration: none;
  color: white;
  padding: 17px 6px 19px 6px;
  text-align: center;
}

.navbar li a:hover {
  color: red;
}

#sectionForPicture {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("IMG_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Carter One", cursive;
  font-size: 52px;
  color: black;
  padding-bottom: 32px;
  text-align: center;
}

span {
  color: red;
}

#pict {
  font-size: 45px;
}

#sectionForMission {
  height: 327px;
  background-color: wheat;
  text-align: center;
  padding-top: 23px;
  font-family: "Josefin Sans", sans-serif;
}

.mission {
  border: 2px solid black;
  padding: 0px 0px 0px 0px;
  display: inline-block;
  height: 215px;
  width: 305px;
  margin: 23px 73px 15px 73px;
  border-radius: 19px;
  text-align: center;
  padding-top: 8px;
  font-size: 19px;
}

#sectionForSponser {
  height: 327px;
  background-color: wheat;
  text-align: center;
  padding-top: 23px;
  font-family: "Josefin Sans", sans-serif;
}

img {
  height: 395px;
  width: 496px;
  margin: -77px;
}

#footer {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: black;
  text-align: center;
  align-items: center;
}
hr {
  background: black;
} */
